body {
    margin: 2rem;
    background-color: black;
}

.container {
    text-align: center;
    color:white;
    background-color: #0e1115;
    width: auto;
    height: 400px;
    padding: 2rem;
}

